In [ ]:
#main
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
import pandas_profiling

In [1]:
# support
# file processor
from corelib import data_obs

# reduce memory usage
from corelib  import data_prep

# saving images
from corelib  import data_vis

In [ ]:
from imp import reload

In [ ]:
reload(data_obs)

In [ ]:
reload(data_prep)

In [ ]:
#sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit

from sklearn.preprocessing import FunctionTransformer

from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline

from sklearn.compose import ColumnTransformer

from sklearn.metrics import roc_auc_score

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [ ]:
#encoders
from category_encoders.ordinal import OrdinalEncoder
from category_encoders.woe import WOEEncoder
from category_encoders.target_encoder import TargetEncoder
from category_encoders.sum_coding import SumEncoder
from category_encoders.backward_difference import BackwardDifferenceEncoder
from category_encoders.leave_one_out import LeaveOneOutEncoder
from category_encoders.helmert import HelmertEncoder
from category_encoders.cat_boost import CatBoostEncoder
from category_encoders.james_stein import JamesSteinEncoder
from category_encoders.one_hot import OneHotEncoder
from category_encoders.hashing import HashingEncoder
from category_encoders.binary import BinaryEncoder
from category_encoders.polynomial import PolynomialEncoder

# Preprocessing

### dump from this point

In [2]:
pro = data_obs.Processor()

In [4]:
pro.source(path_='../test')

File .... fell path:
subtitanic/titanic.csv ..... /home/konstantin/_code_/ml_support/test/subtitanic/titanic.csv
dumped_data.bak ..... /home/konstantin/_code_/ml_support/test/dumped_data.bak
dumped_data.dir ..... /home/konstantin/_code_/ml_support/test/dumped_data.dir
titanic.tar.xz ..... /home/konstantin/_code_/ml_support/test/titanic.tar.xz
dumped_data.dat ..... /home/konstantin/_code_/ml_support/test/dumped_data.dat
titanic.zip ..... /home/konstantin/_code_/ml_support/test/titanic.zip
dumped_data/default.dat ..... /home/konstantin/_code_/ml_support/test/dumped_data/default.dat
dumped_data/default.dir ..... /home/konstantin/_code_/ml_support/test/dumped_data/default.dir
dumped_data/default.bak ..... /home/konstantin/_code_/ml_support/test/dumped_data/default.bak
titanic.csv ..... /home/konstantin/_code_/ml_support/test/titanic.csv
titanic/subtitanic/titanic.csv ..... /home/konstantin/_code_/ml_support/test/titanic/subtitanic/titanic.csv
titanic/titanic.csv ..... /home/konstantin/_code_/ml_support/test/titanic/titanic.csv
wrong_extention.sdv ..... /home/konstantin/_code_/ml_support/test/wrong_extention.sdv

In [5]:
pro.unpack(path_='../test', inslack='titanic.zip')

<ZipInfo filename='titanic.csv' compress_type=deflate filemode='-rw-rw-r--' file_size=60301 compress_size=21902> ... unpacked

In [7]:
pro.view(path_='../test', inslack='titanic.zip')

Extention .zip is wrong! Choose another file

In [9]:
pro.view(path_='../test', inslack='titanic.csv')

'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\n1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\n2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C\n3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S\n4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S\n5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\n'

In [6]:
print(pro.load.__doc__)

Read file and return pandas dataframe

        Now available:
        - csv

        path_:
            Base placement of data files
            string: default core_paths.DATA_PATH constant

        inslack:
            Part of file path, looks like this/that.csv
            string: default ''

        index_col:
            Column to use as the row labels of the DataFrame, either given as string name or column index.
            If a sequence of int/str is given, a MultiIndex is used.
            Note: index_col=False can be used to force pandas to not use the first column as the index, e.g. when
            you have a malformed file with delimiters at the end of each line.
            int, str, sequence of int/str, or False: default None

        dtype:
            Data type for data or columns. E.g. {‘a’: np.float64, ‘b’: np.int32, ‘c’: ‘Int64’}
            Use str or object together with suitable na_values settings to preserve and not interpret dtype.
            If converters are specified, they will be applied INSTEAD of dtype conversion
            As example looks like 'dtype': {'assigned_day': np.float64}
            dict: default None

        parse_dates:
            Parse column as datetime format
            If True -> try parsing the index.
            List of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
            List of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
            Dict, e.g. {‘foo’ : [1, 3]} -> parse columns 1, 3 as date and call result ‘foo’
            More information [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
            If a column or index cannot be represented as an array of datetimes,
            say because of an unparseable value or a mixture of timezones, the column
            or index will be returned unaltered as an object data type.
            bool or list of int or names or list of lists or dict: default False

        sep:
            Delimiter to use
            string: default ','

        encoding:
            Encoding to - use for UTF when reading/writing (ex. ‘utf-8’)
            str: default None

        Returns:
            obj: Pandas dataFrame object

In [10]:
loaded = pro.load(path_='../test', inslack='titanic.csv')

In [16]:
loaded.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [17]:
pro.dump(path_='../test/dumped_data', dump_list=[loaded])

Object 0 is dumped to "/home/konstantin/_code_/ml_support/test/dumped_data" objects

In [19]:
loaded, = pro.undump(path_='../test/dumped_data')

In [20]:
loaded.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S